[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.thecodelabs.de"
verify_ssl = true
name = "TheCodeLabs"

[requires]
python_version = "3"

[packages]
TheCodeLabs-BaseUtils = "*"
fastapi = "==0.65.1"
uvicorn = "==0.13.4"
sqlalchemy = "==1.4.15"

[dev-packages]
