[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.thecodelabs.de"
verify_ssl = true
name = "TheCodeLabs"

[requires]
python_version = "3"

[packages]
TheCodeLabs-BaseUtils = "*"
fastapi = "==0.68.0"
uvicorn = "==0.15.0"
sqlalchemy = "==1.4.22"

[dev-packages]
